.instruction-content-campaign {
    display: flex;
    min-width: 470px;
    flex-basis: 470px;
    padding: 25px 15px 20px 15px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
    border-radius: 24px;
    background: var(--white-text-color);
    box-shadow: 0px 2px 8px 0px var(--shadow-popup-color);
}

.title-instruction-campaign {
    color: var(--black-text-color);
    font-family: "SF Pro Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.check-quest-campaign {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    align-items: start;
    gap: 8px;
    align-self: stretch;
    border-radius: 12px;
    background: var(--brown-color-bg);
    box-shadow: 0px 2px 8px 0px var(--shadow-popup-color);
}

.check-quest-campaign-note {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    align-items: start;
    gap: 8px;
    align-self: stretch;
    border-radius: 12px;
    background: var(--white-text-color);
    box-shadow: 0px 2px 8px 0px var(--shadow-popup-color);
}

.title-quest-campaign {
    color: var(--black-text-color);
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.desc-quest-campaign {
    color: rgba(0, 0, 0, 0.60);
    font-family: "SF Pro Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.progress-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    align-self: stretch;
}

.title-progress-campaign {
    color: var(--black-text-color);
    font-family: "SF Pro Display";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.progress-bar {
    height: 12px;
    gap: 4px;
    border-radius: 9999px;
    background: var(--white-text-color);
    box-shadow: 0px 2px 8px 0px var(--shadow-popup-color);
    position: relative;
    width: 100%;
}

.active-progress-bar {
    position: absolute;
    border-radius: 999px;
    background: linear-gradient(270deg, #FF603B 0%, #FF947B 64%, #FFD9D0 100%);
    left: 0;
    width: 30%;
    height: 12px;
}

.list-quest-campaign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    gap: 40px;
}

.quest-campaign {
    display: flex;
    padding: 15px 20px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 12px;
    background: var(--white-text-color);
    box-shadow: 0px 2px 8px 0px var(--shadow-popup-color);
    position: relative;
}

.index-quest-campaign {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    width: 25px;
    height: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    left: -8px;
    top: -8px;
    border-radius: 999px;
    background: var(--white-text-color);
    box-shadow: 0px 2px 8px 0px var(--shadow-popup-color);
    color: var(--bg-button-active-color);
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.lock-quest {
    display: none;
    padding: 4px 12px;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -8px;
    border-radius: 18.118px;
    background: var(--bg-brown-op-color);
    box-shadow: 0px 1px 4px 0px var(--shadow-popup-color) inset;
    color: var(--black-text-color);
    font-family: "SF Pro Display";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.arrow-icon {
    margin-top: -32px;
    margin-bottom: -24px;
}

.content-quest {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: start;
    flex:1
}

.title-quest {
    color: var(--black-text-color);
    font-family: "SF Pro Display";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.desc-quest {
    color: rgba(0, 0, 0, 0.60);
    font-family: "SF Pro Display";
    font-size: 14.5px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.lock-or-icon {
    margin-right: -6px;
}

.btn-quest-campaign {
    display: flex;
    padding: 8px 18px;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
    border-radius: 9999px;
    background: var(--white-text-color);
    box-shadow: 0px 2px 8px 0px var(--shadow-popup-color);
    color: var(--bg-button-active-color);
    font-family: "SF Pro Display";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: all 0.3s ease;
    cursor: pointer;
    width: max-content;
}

.btn-quest-campaign:hover {
    background-color: var(--or-2-color);
}

.btn-quest-campaign-checking,.btn-quest-campaign-checking:hover{
    background-color: var(--or-2-color);
}

.btn-quest-campaign-success,.btn-quest-campaign-success:hover{
    background: #FF603B;
    color: #FFF;
}

.btn-quest-campaign-fail,.btn-quest-campaign-fail:hover{
    background: #FF603B;
    color: #5C1100;
    font-size: 14px;
}
.lock-quest-campaign .content-quest {
    flex: 1;
}

.lock-quest-campaign .lock-quest {
    display: flex;
}

.lock-quest-campaign::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.20);
}

.index-quest-campaign {
    z-index: 10;
}

.checking-quest{
    animation: loading 1s infinite linear;
}

@keyframes loading {
    0% {    transform: rotate(0deg); }
    100% {  transform: rotate(360deg); }
}

@media screen and (max-width: 1435px) {
    .instruction-content-campaign {
        min-width: 400px;
        flex-basis: 400px;
    }

    .title-quest,
    .btn-quest-campaign {
        font-size: 16px;
    }

    .desc-quest,
    .desc-quest-campaign {
        font-size: 12px;
    }
}

@media (max-width: 1024px) {
    .instruction-content-campaign {
        min-width: calc(100vw / 2);
        flex-basis: calc(100vw / 2);
    }

    .list-quest-campaign {
        width: 100%;
    }

    .quest-campaign {
        justify-content: space-between;
        padding: 10px;
    }
}
