@tailwind base;
@tailwind components;
@tailwind utilities;

/* import fonts */
@font-face {
  font-family: "Unbounded";
  src: url("/fonts/Unbounded/Unbounded-Medium.ttf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay/SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay/SF-Pro-Display-BoldItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: regular;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay/SF-Pro-Display-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay/SF-Pro-Display-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: regular;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay/SF-Pro-Display-Thin.otf") format("opentype");
  font-weight: 300;
  letter-spacing: 1px;
  font-style: regular;
}


@font-face {
  font-family: 'PPMondwest';
  src: url('/fonts/PPMondwest/PPMondwest-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/static/Inter_28pt-Regular.ttf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Kode Mono';
  src: url('/fonts/KodeMono/KodeMono-VariableFont_wght.ttf') format('opentype');
  font-weight: 600;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;

    /* dark */
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --secondary-color: #6c757d;
    --background-color: #fff;
    --text-color: #333;
    --border-color: #ccc;
    --header-background-color: #f8f9fa;
    --footer-background-color: #343a40;
    --hero-background-color: #e9ecef;
    --header-button-color: radial-gradient(1465.72% 50% at 60.91% 50%,
        #ff603b 0%,
        #f83b28 100%);
    --black-text-color: #000;
    --white-text-color: #fff;
    --red-text-color: #f83b28;
    --red2-text-color: #FF5656;
    --green-text-color: #45b272;
    --green2-text-color: #0a6;
    --bg-button-active-color: #ff603b;
    --bg-button-active-color-25: #ff603b40;
    --bg-button-color: #ffcabd;
    --button-connect-wallet-color: #c5b4e3;
    --button-connect-wallet-hover-color: linear-gradient(180deg,
        #9fe4c9 0%,
        #c5b4e3 100%);
    --button-header-hover-color: linear-gradient(90deg, #ff603b 0%, #6a16ff 100%);
    --button-connected-wallet-color: #ffd4c8;
    --bg-overlay-color: rgba(217, 217, 217, 0.48);
    --bg-overlay-black-color: rgba(0, 0, 0, 0.5);
    --overlay-black-color: rgba(0, 0, 0, 0.4);
    --border-black-color: rgba(0, 0, 0, 0.3);
    --shadow-popup-color: rgba(0, 0, 0, 0.25);
    --bg-pool-color: rgba(255, 255, 255, 0.5);
    --bg-switch-range-color: #ebebeb;
    --bg-fixed-color: #fccdc2;
    --bg-body-color: #fffbf7;
    --bg-chart-color: #6a16ff;
    --black-shadow-navbar: rgba(0, 0, 0, 0.08);
    --black-shadow-text: rgba(0, 0, 0, 0.12);
    --black-text-navbar: #1a1a1a;
    --white-color-bg-navbar: #ffe6e0;
    --orange-color-text-navbar: #f55631;
    --white-color-bg-footer: #fff9f2;
    --purple-color-text: #634d8a;
    --bg-brown-op-color: rgba(255, 0, 0, 0.30);
    --or-2-color: #F5A997;
    --green3-color: #6BDF61;
    --white-color-bg: #fff;
    --white-color-bg-page-portal: #f7f4f2;
    --white-color-text: #fafafa;
    --white-color-bg-opacity: rgba(255, 255, 255, 0.8);
    --black-color-text: #000;
    --black-color-shadow: rgba(0, 0, 0, 0.25);
    --orange-color-bg: #ff603b;
    --purple-color-bg: #c5b4e3;
    --green-color-bg: #9fe4c9;
    --black-shadow-item-token: rgba(255, 255, 255, 0.25);
    --black-overlay: rgba(0, 0, 0, 0.5);
    --brown-color-bg: rgba(255, 96, 59, 0.25);
    --gray-color-shadow: rgba(26, 26, 26, 0.3);

    --text-primary: #fafafa;
    --text-main: #1a1a1a;
    --text-dark: #000;
    --text-green-a: #1e9218;
    --text-green-b: #758228;
    --text-green-c: #59c259;
    --text-yellow-a: #d1923f;
  
    --s-text: #575c66;
    --p-text: #1e2024;
    --t-text: #828a99;
    --h-text: #adb9cc;
  
    --primary-red-a: #eb5836;
    --primary-red-b: #ff603b;
    --primary-red-c: #ff8366;
    --primary-red-d: #CC5254;
  
    --bg-main: #f7f4f2;
    --bg-transaction:#FFFDFC;
    --bg-white-a: #fffefc;
    --bg-white-b: #fffbf7;
    --bg-white-c: #fdfdfd;
    --bg-white-d: #faf9eb;
    --bg-gray-a: #e6e6e6;
    --bg-gray-b: #f0f2f5;
    --bg-gray-c: #d9d9d9;
    --bg-gray-d: #f9f9f9;
    --bg-blue-a: #e9f4f3;
    --bg-green-a: #70c270;
    --bg-red-a: #ffe2db;
    --bg-red-b: #e06565;
    --bg-yellow-a: #FAEDDC;
  
    --yellow-bg-a: #ffcabd;
  
  
    --bg-detail: linear-gradient(180deg, #f7f7f7 0%, #fff 100%);
    --bg-payment: linear-gradient(90deg, #5bdebd 0%, #55d586 100%);
  
    --devider: #dcd2cf;
    --devider-a: rgba(0, 0, 0, 0.16);
    --devider-b: rgba(0, 0, 0, 0.12);
    --devider-c: rgba(0, 0, 0, 0.04);
    --border-a: rgba(0, 0, 0, 0.05);
  
    --box-shadow-a: 0px 4px 32px 0px rgba(0, 0, 0, 0.08);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

div[role="menubar"] {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  background: #FFFBF7;
  height: 100%;
  /* font-family: SF Pro Display, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* loading */

/* HTML: <div class="loader"></div> */
.loader {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-left: 12px;
  border: 4px solid #514b82;
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}

@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%)
  }

  12.5% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%)
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
  }

  62.5% {
    clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
  }

  75% {
    clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%)
  }

  100% {
    clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%)
  }
}

@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg)
  }

  49.99% {
    transform: scaleY(1) rotate(135deg)
  }

  50% {
    transform: scaleY(-1) rotate(0deg)
  }

  100% {
    transform: scaleY(-1) rotate(-135deg)
  }
}
