.button-header {
    height: 54.264px;
    width: 117.829px;
    flex-shrink: 0;
    border-radius: 19.38px;
    border: 1.55px solid var(--black-text-color);
    background: var(--white-text-color);
    box-shadow: 0px 5.426px 0px 0px var(--black-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black-text-color);
    text-align: center;
    font-size: 18.605px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none !important;
    position: relative;
}

.button-header>span {
    position: relative;
    z-index: 10;
}

.button-header::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 17px;
    width: 100%;
    height: 100%;
    background: var(--button-header-hover-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.button-header:hover::after {
    opacity: 1;
}


.button-header-active {
    background-color: var(--bg-button-active-color);
    color: var(--white-text-color);
    cursor: pointer;
}

.button-header-active::after {
    opacity: 0 !important;
}

.button-connect-wallet {
    height: 54px;
    width: 213px;
    flex-shrink: 0;
    border-radius: 19.38px;
    border: 1.55px solid var(--black-text-color);
    background: var(--button-connect-wallet-color);
    box-shadow: 0px 5.426px 0px 0px var(--black-text-color);
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-connect-wallet>span {
    z-index: 10;
    color: var(--white-text-color);
    text-align: center;
    font-size: 18.605px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.button-connect-wallet::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--button-connect-wallet-hover-color);
    border-radius: 19.38px;
    opacity: 0;
    transition: all 0.3s ease;
}

.button-connect-wallet:hover::after {
    opacity: 1;
}

/* mobile */
.header-menu-mobile {
    z-index: 100;
    position: relative;
}

/* .header-menu-mobile {
    display: none;
} */

/* icon menu */

.menu {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
}

.menu span {
    margin: 0 auto;
    position: relative;
    top: 12px;
}

.menu span:before,
.menu span:after {
    position: absolute;
    content: '';
}

.menu span,
.menu span:before,
.menu span:after {
    width: 22px;
    height: 3px;
    background-color: #535353;
    display: block;
    border-radius: 10px;
}

.menu span:before {
    margin-top: -6px;
}

.menu span:after {
    margin-top: 6px;
}

.button-menu {
    cursor: pointer;
}

.button-menu span,
.button-menu-active span {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.button-menu:hover span,
.button-menu-active span {
    background-color: rgba(0, 0, 0, 0.0);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.button-menu span:before,
.button-menu-active span:before {
    -webkit-transition-property: margin, -webkit-transform;
    transition-property: margin, transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s;
    transition-delay: 0.2s, 0s;
}

.button-menu:hover span:before,
.button-menu-active span:before {
    margin-top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition-delay: 0s, 0.2s;
    transition-delay: 0s, 0.2s;
}

.button-menu span:after,
.button-menu-active span::after {
    -webkit-transition-property: margin, -webkit-transform;
    transition-property: margin, transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s;
    transition-delay: 0.2s, 0s;
}

.button-menu:hover span:after,
.button-menu-active span::after {
    margin-top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition-delay: 0s, 0.2s;
    transition-delay: 0s, 0.2s;
}

.popup-menu-mobile {
    display: flex;
    width: 200px;
    padding: 12.5px 70px 12.5px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    border-radius: 7.5px;
    border: 0.625px solid var(--black-text-color);
    background: var(--white-text-color);
    position: absolute;
    top: 28px;
    left: -2px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.popup-menu-content {
    display: flex;
    flex-direction: column;
    gap: 7.5px;
    align-items: flex-start;
}

.menu-item {
    color: var(--black-text-color);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.menu-item:hover {
    text-decoration: none !important;
}

.menu-item-active {
    color: var(--bg-button-active-color);
}

.content-social-menu-mobile {
    display: flex;
    gap: 13.6px;
}

.popup-menu-mobile-show {
    opacity: 1;
    visibility: visible;
    z-index: 100;
}

.header-menu-mobile {
    display: none;
}

@media (max-width: 900px) {
    .header-content {
        display: none;
    }

    .button-connect-wallet {
        padding: 8px 20px;
        height: 32px;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-radius: 8px;
        border: 1px solid var(--black-text-color);
        box-shadow: 0px 2px 0px 0px var(--black-text-color);
        border-radius: 8px;
        width: max-content;
    }

    .button-connect-wallet::after {
        border-radius: 8px;
    }

    .header-menu-mobile {
        display: flex;
    }
}