.header-content-modal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header-text {
    color: var(--black-text-color);
    font-size: 26.446px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.list-token-content {
    margin-top: 25px;
}

.list-token-head {
    color: var(--black-text-color);
    font-size: 19.835px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 33.88px;
    opacity: 0.6;
}

.line-list-token {
    height: 1.653px;
    width: 100%;
    background-color: var(--black-text-color);
    opacity: 0.6;
    margin-top: 13.19px;
}

.list-token {
    display: flex;
    flex-direction: column;
    height: calc(100vh / 2);
    gap: 12px;
    margin-top: 33px;
    overflow-y: scroll;
}

.list-token::-webkit-scrollbar {
    display: none;
}

.list-token-item {
    display: flex;
    padding: 12px;
    cursor: pointer;
    align-items: center;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
    justify-content: space-between;
}

.list-token-item::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8.264px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25) inset;
    opacity: 0;
    left: 0;
    visibility: hidden;
    transition: all 0.2s ease;
}

.list-token-item:hover::after{
    opacity: 1;
    visibility: visible;
}

.list-token-item-content {
    display: flex;
    align-items: center;
    gap: 12.4px;
}

.list-token-item-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-token-item-name {
    color: var(--black-text-color);
    font-size: 19.835px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.list-token-item-symbol {
    color: var(--black-text-color);
    font-size: 13.223px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: start;
    opacity: 0.6;
}

.list-token-item-active {
    border-radius: 8.264px;
    background-color: #F3EEED;
}

/* .list-token-item-active .list-token-item-name,
.list-token-item-active .list-token-item-symbol {
    color: #FFF;
} */

.modal-container>button {
    border: 1px solid var(--black-text-color);
    outline: 0;
    margin-top: 12px;
    margin-right: 7px;
    opacity: 0 !important;
}

/* input */

.search-input {
    display: flex;
    width: 100%;
    padding: 15px 0px 15px var(--4025-rem, 40px);
    align-items: center;
    gap: var(--100625-rem, 10px);
    align-self: stretch;
    border-radius: 12px;
    background: var(--white-text-color);
    box-shadow: 0px 2px 8px 0px var(--shadow-popup-color);
}



.search-input::placeholder {
    opacity: 0.3;
}

@media(max-width: 600px) {
    .list-token {
        max-width: 100%;
    }
}