.content-modal-preview-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-modal-preview-header-token {
    display: flex;
    align-items: center;
    gap: 12px;
}

.content-modal-preview-header-status {
    display: flex;
    align-items: center;
    gap: 7px;
}

.preview-header-text {
    color: var(--black-text-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-preview-pool-text {
    color: var(--black-text-color);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;
}

.preview-header-status-info {
    width: 21.572px;
    height: 21.572px;
    border-radius: 842.639px;
    border: 0.59px solid var(--black-text-color);
}

.status-in-range {
    background-color: var(--button-connected-wallet-color);
}

.content-preview-pool-token {
    display: flex;
    padding: 12px 10px 12px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-radius: 21px;
    border: 1px solid var(--black-text-color);
    background: var(--white-text-color);
}

.preview-pool-token-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.preview-pool-token-item:last-child {
    margin-top: 8px;
}

.preview-pool-token-item-info {
    display: flex;
    align-items: center;
    gap: 10px
}

.preview-header-fee-tier-text {
    color: var(--black-text-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.selected-range-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}

.selected-range-content-header {
    color: var(--black-text-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.switch-select-range {
    display: flex;
    align-items: center;
    border-radius: 12px;
    border: 1px solid var(--black-text-color);
    background: var(--bg-switch-range-color);
}

.switch-select-range-item {
    display: flex;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: var(--bg-overlay-black-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.switch-select-range-item-active {
    background: #FFF;
    color: var(--black-text-color);
}

.content-min-price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.content-min-price-item {
    display: flex;
    width: 235px;
    padding: 12px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 21px;
    border: 1px solid var(--black-text-color);
}

.content-min-price-item-title {
    color: var(--black-text-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.6;
}

.content-min-price-item-desc {
    color: var(--black-text-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.current-price-content {
    display: flex;
    padding: 12px var(--100625-rem, 10px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--100625-rem, 10px);
    align-self: stretch;
}

.btn-modal-preview-pool {
    height: 48px;
    font-size: 20px;
}

@media (max-width: 600px) {
    .content-preview-pool-token {
        margin-top: 3px;
        padding: 12px 10px 12px 20px;
        gap: 8px;
    }
    .preview-header-text {
        font-size: 14px;
    }

    .btn-modal-preview-pool>span {
        font-size: 20px;
    }

    .btn-modal-preview-pool {
        height: 48px;
    }

    .content-min-price-item {
        gap: 4px;
        width: 49%;
    }

    .content-min-price-item-desc {
        font-size: 12px;
    }

    .content-min-price-item-title,
    .preview-header-fee-tier-text,
    .preview-header-text,
    .switch-select-range-item {
        font-size: 14px;
    }
}