.swap-container {
    width: min(90%, 605px);
    margin: calc(80vh / 10) auto 0 auto;
    z-index: 99;
    position: relative;
}

.swap-container {
    display: flex;
    flex-direction: column;
    gap: 29px;
}

.swap-text {
    display: flex;
    width: 91px;
    height: 37px;
    padding: 6px 21px;
    justify-content: center;
    align-items: center;
    gap: var(--100625-rem, 10px);
    border-radius: 10px;
    background: var(--white-text-color);
    color: var(--black-text-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
}

.swap-content {
    height: 582px;
    width: 100%;
    flex-shrink: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 43px;
}

.swap-content-item {
    height: 210px;
    width: 100%;
    border-radius: 12px;
    background: var(--white-text-color);
    padding: 20px 18px 24px 21px;
    position: relative;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
}

.swap-item-first .swap-item-select-have-token,
.swap-item-first .swap-item-select-have-token:hover {
    background-color: var(--button-connect-wallet-color);
}

.swap-button {
    position: absolute;
    right: 50%;
    top: 50%;
    z-index: 10;
    transform: translate(50%, -50%);
    cursor: pointer;
}

.swap-item-header {
    color: var(--black-text-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.6;
    padding-left: 4px;
}

.line-swap-item {
    width: 100%;
    height: 2px;
    background: var(--black-text-color);
    opacity: 0.6;
    margin: 10px 0;
}

.bg-overlay {
    background: var(--bg-overlay-color);
}

.value-price {
    color: var(--black-text-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.6;
    position: absolute;
    bottom: 12%;
    left: 5%;
}

.swap-item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 8px 15px 0
}

.swap-item-select {
    display: flex;
    width: max-content;
    height: 36px;
    padding: 6px 18px;
    align-items: center;
    gap: 4px;
    border-radius: 18.118px;
    background: var(--white-text-color);
    cursor: pointer;
    color: var(--black-text-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: all 0.3s ease;
    box-shadow: 0px 1px 4px 0px rgba(26, 26, 26, 0.30) inset;
}

.swap-item-select:hover {
    background-color: #EEEEEE;
}

.swap-item-select-have-token {
    padding: 5.471px 11px 5.471px 10px;
    width: max-content;
    background-color: var(--button-connected-wallet-color);
}

.swap-item-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--black-text-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.6;
    margin-top: -30px;
    padding-right: 8px;
    width: 100%;
    position: relative;
}

.slippage-container {
    display: none;
    align-items: center;
    gap: 17px;
}

.slippage-head,
.slippage-item {
    display: flex;
    width: max-content;
    height: 37px;
    padding: 6px 21px;
    justify-content: center;
    align-items: center;
    gap: var(--100625-rem, 10px);
    border-radius: 10px;
    border: 1px solid var(--black-text-color);
    background: var(--white-text-color);
    color: var(--black-text-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-text {
    color: var(--black-text-color);
    font-size: 26.446px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.slippage-item {
    cursor: pointer;
    background-color: #fff;
    transition: all 0.3s ease;
}

.slippage-item:hover {
    background: var(--bg-switch-range-color);
}

.slippage-item-active,
.slippage-item-active:hover {
    background-color: var(--black-text-color) !important;
    color: var(--white-text-color);
}

.slippage-head:has(.slippage-input-custom) {
    padding: 6px 12px;
}

.slippage-input-custom {
    width: 60px;
    height: 100%;
}

.slippage-input-custom::placeholder {
    opacity: 0.5;
}

.swap-container-form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
}

.footer-container {
    padding-left: 50px;
    padding-bottom: 34px;
    position: fixed;
    bottom: 0;
}

.swap-item-footer-text {
    color: var(--black-text-color);
    opacity: 0.6;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.popup-setting {
    display: flex;
    width: 450px;
    padding: var(--20125-rem, 20px) var(--100625-rem, 10px) 15px var(--20125-rem, 20px);
    flex-direction: column;
    align-items: center;
    gap: 25px;
    border-radius: 12px;
    background: var(--white-text-color);
    box-shadow: 0px 2px 8px 0px var(--shadow-popup-color);
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 103;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.popup-setting-open {
    opacity: 1;
    visibility: visible;
}

/* swap token layout */
.token-swap-container {
    margin: 0;
    gap: 22.2px;
    width: min(100%, 426.429px);
}

.token-swap-content {
    width: min(100%, 427px);
    height: 410.218px;
    gap: 20px;
}

.token-swap-form {
    gap: 20px;
}

.popup-setting-token {
    width: 400px;
}

.token-swap-form .swap-item-footer {
    margin-top: -10px;
}

.token-swap-form .swap-content-item {
    width: 100%;
    height: 155px;
    padding: 14px 12px 16.8px 14.8px;
}

.token-swap-form .swap-button img {
    width: 63px;
    height: 63px;
}

.token-swap-form .swap-item-header {
    font-size: 14px;
}

.token-swap-form .swap-item-input {
    font-size: 40px;
    height: 45px;
}

.token-swap-form .line-swap-item {
    margin-bottom: 8px;
}

.token-swap-form .swap-item-select {
    font-size: 20px;
    padding: 6px 12px;
    width: max-content;
}

.token-swap-form .swap-item-select-have-token {
    padding: 0;
    width: max-content;
    padding: 4px 8px;
}

.token-swap-form .swap-item-select-have-token img {
    width: 20px;
    height: 20px;
}

.token-swap-form .value-price {
    font-size: 14.097px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    bottom: 0;
    left: 0;
}

.token-swap-form .swap-item-footer-text {
    font-size: 14.097px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.token-swap-content .button-swap {
    height: 49.339px;
    font-size: 21.394px !important;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: -1px !important;
}

.token-swap-container .slippage-container {
    gap: 8px 20px;
    flex-wrap: wrap;
}

.token-swap-container .slippage-head,
.token-swap-container .slippage-item {
    height: 29.091px;
    padding: 4.717px 16.511px;
    font-size: 15.725px;
}

.swap-container-info {
    display: flex;
    width: 334.154px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 19px;
    margin-top: 30px;
}

.swap-info-content {
    display: flex;
    flex-wrap: wrap;
    gap: 7.21px 8.41px;
}

.swap-info-item {
    display: flex;
    align-items: center;
    gap: 9.7px;
    padding: 6.01px 18.451px 5.848px 9.62px;
    border-radius: 9.451px;
    border: 0.945px solid var(--black-text-color);
    background: var(--white-text-color);
    cursor: pointer;
    color: var(--black-text-color);
    font-size: 18.901px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: max-content;
}

/* input */

.swap-item-input {
    width: 84%;
    border: 0;
    outline: none;
    color: var(--black-text-color);
    font-size: 76.923px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
    height: 92px;
    margin-right: 8px;
}

.swap-item-input::placeholder {
    color: var(--black-text-color);
    opacity: 0.5;
}

@media (min-width: 800px) and (max-width: 1367px) {
    .swap-container {
        width: min(90%, 500px);
    }

    .swap-content {
        height: auto;
    }

    .swap-content-item {
        height: 170px;
    }

    .slippage-container {
        width: 100%;
    }

    .slippage-head,
    .slippage-item {
        padding: 6px 18px;
        font-size: 18px;
    }

    .swap-item-content {
        padding: 6px 8px 9px 0;
    }

    .swap-item-input {
        height: 57px;
        font-size: 60px;
    }

    .swap-item-footer {
        margin-top: -14px;
    }
}

@media (max-height: 800px) {
    .swap-container {
        margin: 30px auto 0 auto;
        gap: 20px;
    }

    .swap-container.token-swap-container{
        margin: 0;
    }

    .swap-content-item {
        height: 160px;
        padding-bottom: 12px;
    }

    .value-price {
        bottom: 13px;
    }

    .swap-container-form {
        gap: 20px;
    }

    .swap-content {
        height: auto;
        gap: 30px;
    }
}

@media (max-width: 600px) {

    .swap-text {
        padding: 6px 21px;
        font-size: 16px;
    }

    .swap-container {
        gap: 20px;
        margin: 50px 0 0 0;
        width: 100%;
    }

    .swap-container-form {
        gap: 20px;
    }

    .swap-button>img {
        width: 60px;
        height: 60px;
    }

    .swap-content {
        padding: 15px;
        height: max-content;
        gap: 24px;
    }

    .swap-content-item {
        padding: 15px 10px 12px 10px !important;
        height: 173px !important;
    }

    .swap-item-header {
        font-size: 17px;
    }

    .line-swap-item {
        margin-bottom: 10px;
    }

    .swap-item-content {
        padding-top: 16px;
    }

    .swap-item-input {
        height: 60px !important;
        font-size: 50px !important;
    }

    .slippage-container {
        gap: unset;
        justify-content: space-between;
    }

    .slippage-head,
    .slippage-item {
        height: 29.091px;
        padding: 4px 12px;
        font-size: 15.725px;
    }

    .token-swap-container .slippage-container {
        gap: unset;
        justify-content: space-between;
    }

    .bg-overlay {
        background: rgba(0, 0, 0, 0.60);
    }

    .swap-item-content{
        padding: 6px 0;
    }

    .popup-setting{
        width: 350px;
    }

    .swap-item-footer{
        margin-top: 0;
    }
}