.menu-item:hover .image-default{
    opacity: 0;
}

.menu-item:hover .image-hover{
    opacity: 1;
}

.deposit-text{
    color: var(--green2-text-color);
}

.withdraw-text{
    color: var(--red-text-color);
}

.overlay-wallet{
    background: var(--overlay-black-color);
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

.show-overlay-wallet{
    opacity: 1;
    visibility: visible;
}

.loading-waiting{
    animation: spin 1s linear infinite;
}

.wallet-container{
    height: calc(100vh - 60px);
}

.list-wallet{
    max-height: 156px;
    overflow-y: scroll;
}

.list-wallet::-webkit-scrollbar{
    display: none;
}

.wallet-item{
    background-color: transparent;
}

.wallet-item:hover{
    background-color: rgba(255, 96, 59, 0.40);
}

.command-list::-webkit-scrollbar{
    display: none;
}

div:has(.popover-content){
    left: -55px !important;
}

.popover-content{
    border-radius: 8px;
    padding-top:10px;
}

.command-list{
    display: flex;
    flex-direction: column;
    max-height: 120px;
    padding: 0 4px;
}

.command-item{
    background-color: var(--white-text-color) !important;
    cursor: pointer;
    transition: all 0.3s ease;
}

.command-item:hover{
    background-color: var(--white-text-color);
    box-shadow: 0px 1px 4px 0px var(--shadow-popup-color) inset
}

.command-item:not(:last-child){
    margin-bottom: 4px;
}

.command-item-active,.command-item-active:hover{
    border-color: var(--black-text-color);
    background-color: var(--bg-button-active-color) !important;
}

.box-shadow-popup-wallet{
    box-shadow: 0px 4px 4px 0px var(--shadow-popup-color);
}
.box-shadow-content-wallet{
    box-shadow: 0px 2px 8px 0px var(--shadow-popup-color);
}

.token-pool-logo {
    display: flex;
    align-items: center;
    width: max-content;
    border: 1px solid var(--black-text-color);
    border-radius: 999px;
    justify-content: center;
    width: 25px;
}


.token-pool-logo-item-first,
.token-pool-logo-item-second {
    position: relative;
    display: flex;
}

.token-pool-logo-item-first {
    width: 25px;
    height: 25px;
    overflow: hidden;
    margin-left: -25px;
}

.token-pool-logo-item-second {
    width: 25px;
    height: 25px;
    overflow: hidden;
    margin-right: -25px;
}

.pool-logo-item {
    width: 25px !important;
    height: 25px !important;
}

.token-pool-logo-item-first .pool-logo-item{
    position: absolute;
    left: 50%;
}

.token-pool-logo-item-second .pool-logo-item{
    position: absolute;
    right: 50%;
}

.wallet-header{
    position: sticky;
    top: 0;
    background-color: #FFF;
    z-index: 10;
}

.wallet-header::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: #FFF;
    top: -30px;
}

.icon-details{
    width: 12px;
    height: 12px;
}

.content-toast{
    gap: 4px;
}

.copy-deposit{
    position: relative;
}

.copy-deposit::after,.copy-deposit::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: transparent;
    transition: all 0.3s ease;
}

.copy-deposit::after{
    box-shadow: 0px 0px 4px 0px var(--shadow-popup-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.copy-deposit::before{
    box-shadow: 0px 2px 8px 0px var(--shadow-popup-color);
    opacity: 1;
    transition: all 0.3s ease;
}
.copy-deposit:hover::after{
    opacity: 1;
}

.copy-deposit:hover::before{
    opacity: 0;
}

.select-token{
    position: relative;
    box-shadow: 0px 2px 8px 0px var(--shadow-popup-color);
    transition: all 0.3s ease;
}

.toast-container{
    padding: 12px 0px 12px 34px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width:1024px){
    .token-pool-logo-item-first,.token-pool-logo-item-second,.pool-logo-item, .token-pool-logo{
        width: 20px !important;
        height: 20px !important;
    }

    .token-pool-logo{
        justify-content: center;
    }

    .content-toast{
        gap: 6px;
    }
}
@media (max-width:600px){
    .wallet-container{
        height: calc(100vh - 30px);
    }

    .content-toast{
        gap: 0px;
    }
}