<section id="modal1" class="modal">
    <div class="modal-select-token">
        <div class="header-content-modal">
            <span class="header-text">
                Select a token
            </span>
            <div class="close">
                <img src="assets/images/swap/close-icon-modal.svg" alt="close">
            </div>
        </div>
        <div class="search-container">
            <input class="search-input" type="text" placeholder="Search tokens">
        </div>
        <div class="list-token-content">
            <span class="list-token-head">Top Tokens</span>
            <div class="line-list-token"></div>
            <div class="list-token"></div>
        </div>
    </div>
</section>