.containerPage {
    background-image: url("/images/navbar_footer/image_bg_table.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 150px;
  }
  
  .image_dino {
    position: fixed;
    top: 69px;
    left: 100px;
  }
  
  .tableWrapper {
    max-width: 1400px;
    width: 100%;
    overflow: hidden;
  }
  
  .table {
    width: 1400px;
    align-items: flex-start;
    border-radius: 12px;
    background: linear-gradient(
      180deg,
      rgba(8, 8, 8, 0.4) 0%,
      rgba(8, 8, 8, 0.4) 100%
    );
    backdrop-filter: blur(16px);
    border: none;
  }
  .tableHeadRow > th,
  .bodyRow > td {
    border: 1px solid rgba(255, 209, 166, 0.24);
    border-collapse: collapse;
  }
  .tableHeadRow > th,
  .bodyRow > td {
    padding: 15px;
    text-align: center;
  }
  
  .tableHeadRow > th:first-child,
  .bodyRow > td:first-child {
    border-left: none;
  }
  
  .tableHeadRow > th:last-child,
  .bodyRow > td:last-child {
    border-right: none;
  }
  
  .tableHeadRow,
  .tableHeadRow > th {
    border-top: none;
  }
  
  .bodyRow:last-child td {
    border-bottom: none;
  }
  
  .bodyRow {
    height: 72px;
  }
  
  .tableHeadRow {
    height: 88px;
  }
  
  .bodyRow > td {
    color: #ededed;
    font-family: "SF Pro Display";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex: 1 0 0;
    text-align: left;
  }
  
  .tableHeadRow > th {
    font-family: "Unbounded";
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: linear-gradient(270deg, #94db52 50.1%, #d3e48f 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    vertical-align: bottom;
  }
  
  .tableHeadRow > th:first-child {
    font-family: "SF Pro Display";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #ffb587;
    -webkit-text-fill-color: initial;
    background: transparent;
    text-align: left;
    vertical-align: bottom;
    opacity: 0.6;
  }
  
  .bodyRow > td:first-child {
    width: 208px;
    padding: 16px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    background: rgba(0, 0, 0, 0.5);
    color: #ffab7a;
    font-family: "SF Pro Display";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
  }
  
  .tableHeadRow > th {
    border: none;
  }
  