/* Reset CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "PPMondwest";
  src: url("fonts/PPMondwest-Regular.otf") format("opentype");
}

/* Typography */
body {
  font-family: "SF Pro Display";
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-bottom: 1rem;
}

a {
  color: #007bff;
  /* Thay bằng màu sắc bạn muốn sử dụng */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* List */
ul,
ol {
  margin-bottom: 1rem;
}

li {
  margin-bottom: 0.5rem;
}

/* Grid System */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Utility classes */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

/* ... thêm các utility classes khác nếu cần ... */
