.containerPagePortaL {
  display: flex;
  width: 1440px;
  flex-direction: column;
  align-items: center;
  background: var(--white-color-bg-page-portal);
}

.containerBodyPortal {
  display: flex;
  padding: 24px 0px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.containerContentTop {
  display: flex;
  padding: 80px 41px 48px 41px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.boxTitlePage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
}

.textBoxTitle {
  color: var(--purple-color-text);
  text-align: center;
  font-family: "SF Pro Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  align-self: stretch;
  cursor: default;
}

.titlePage {
  color: var(--black-color-text);
  text-align: center;
  font-family: "SF Pro Display";
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  align-self: stretch;
  cursor: default;
}

.decriptionPortal {
  width: min(100%, 840px);
  color: var(--black-color-text);
  text-align: center;
  font-family: "SF Pro Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.6;
  cursor: default;
}

.containerContentBot {
  display: flex;
  max-width: 1280px;
  padding: 24px 41px 72px 41px;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  margin: 0 auto;
}

.boxContentBot {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px;
  flex: 1 0 0;
  flex-wrap: wrap;
}

.boxTotalAPI {
  display: flex;
  width: min(100%, 471px);
  height: 228px;
  padding: 24px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 12px;
  background: var(--white-color-bg);
  box-shadow: 0px 4px 32px 0px var(--black-shadow-navbar);
}

.boxSportPriceAPI {
  display: flex;
  width: min(100%, 348px);
  height: 228px;
  padding: 24px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 12px;
  background: var(--white-color-bg);
  box-shadow: 0px 4px 32px 0px var(--black-shadow-navbar);
}

.boxSwapAPI {
  display: flex;
  width: min(100%, 331px);
  height: 228px;
  padding: 24px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 12px;
  background: var(--white-color-bg);
  box-shadow: 0px 4px 32px 0px var(--black-shadow-navbar);
}

.boxHistoryAPI {
  display: flex;
  width: min(100%, 348px);
  height: 228px;
  padding: 24px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 12px;
  background: var(--white-color-bg);
  box-shadow: 0px 4px 32px 0px var(--black-shadow-navbar);
}

.boxTransactionGatewayAPI {
  display: flex;
  width: min(100%, 445px);
  height: 228px;
  padding: 24px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 12px;
  background: var(--white-color-bg);
  box-shadow: 0px 4px 32px 0px var(--black-shadow-navbar);
}

.boxBalanceAPI {
  display: flex;
  width: min(100%, 357px);
  height: 228px;
  padding: 24px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 12px;
  background: var(--white-color-bg);
  box-shadow: 0px 4px 32px 0px var(--black-shadow-navbar);
}

.boxTitleItemInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.titleItemInfo {
  color: var(--black-color-text);
  font-family: "SF Pro Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: stretch;
  cursor: default;
}

.decriptionItemInfo {
  color: var(--black-color-text);
  font-family: "SF Pro Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  align-self: stretch;
  cursor: default;
}

.boxBtnBoxInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.btnGet {
  display: flex;
  height: 44px;
  padding: 0px 16px 0px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  background: var(--orange-color-bg);
  cursor: pointer;
}

.textBtnGet {
  color: var(--white-color-text);
  text-align: center;
  text-shadow: 0px 2px 3px var(--black-shadow-text);
  font-family: "SF Pro Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.btnLearn {
  display: flex;
  height: 44px;
  padding: 0px 16px 0px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  border: 1px solid var(--orange-color-text-navbar);
  cursor: pointer;
  transition: all 0.3s ease;
}

.textBtnLearn {
  color: var(--orange-color-text-navbar);
  text-align: center;
  font-family: "SF Pro Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.iconArrowHover {
  display: none;
}

.btnLearn:hover {
  background: var(--orange-color-text-navbar);
}

.btnLearn:hover .textBtnLearn {
  color: var(--white-color-bg);
}

.btnLearn:hover .iconArrowHover {
  display: block;
}

.btnLearn:hover .iconArrowDefault {
  display: none;
}

.containerMenuNav_mobile {
  display: none;
}

.iconDropDownHeader {
  display: none;
  position: relative;
}

.boxMenuNav_mobile {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: var(--white-color-bg);
  box-shadow: 0px 4px 32px 0px var(--black-shadow-navbar);
  border-radius: 12px;
  left: 40px;
  top: 55px;
  padding: 10px 20px;
}

.imageDino{
    width: 35px;
    height: 35px;
}

@media screen and (max-width: 1280px) {
  .boxSwapAPI,
  .boxHistoryAPI {
    width: 360px;
  }
}

@media screen and (max-width: 1100px) {
  .containerFooter {
    padding: 35px 30px 20px 30px;
    gap: 40px;
  }

  .containerTagFooter {
    gap: 30px;
  }

  .titleBoxTag {
    font-size: 16px;
  }

  .tag {
    font-size: 14px;
  }

  .textBoxContact {
    font-size: 13px;
  }

  .containerNavbar {
    padding: 20px 30px;
    gap: 40px;
  }

  .titleNavbar {
    font-size: 24px;
  }

  .tabNavbar {
    font-size: 16px;
  }

  .tabNavbar:hover {
    font-size: 16px;
  }

  .containerTitleNavbar {
    gap: 6px;
  }

  .contentLeftNavbar {
    gap: 15px;
  }

  .boxMenuNav {
    gap: 4px;
  }

  .tabNavbar {
    padding: 0px 10px;
  }

  .tabNavbar:hover {
    padding: 0px 10px;
  }

  .btnConnect {
    width: 140px;
    padding: 0px 12px;
  }

  .boxTotalAPI,
  .boxSportPriceAPI,
  .boxSwapAPI,
  .boxHistoryAPI,
  .boxTransactionGatewayAPI,
  .boxBalanceAPI {
    width: 48%;
  }
}

@media screen and (max-width: 800px) {
  .titleItemInfo {
    font-size: 20px;
  }

  .decriptionItemInfo {
    font-size: 14px;
  }

  .btnGet,
  .btnLearn {
    padding: 0px 8px 0px 12px;
  }

  .textBtnGet,
  .textBtnLearn {
    font-size: 14px;
  }
}

@media screen and (max-width: 730px) {
  .contentFooterTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .boxTitleFooter {
    display: flex;
    justify-content: center;
    gap: 2px;
  }

  .containerNavbar {
    padding: 20px 10px;
  }

  .titleNavbar {
    display: none;
  }

  .iconDropDownNavbar {
    display: none;
  }

  .textBoxTitle {
    font-size: 18px;
  }

  .titlePage {
    font-size: 48px;
  }
}

@media screen and (max-width: 685px) {
  .boxContentBot {
    display: flex;
    justify-content: center;
  }

  .boxTotalAPI,
  .boxSportPriceAPI,
  .boxSwapAPI,
  .boxHistoryAPI,
  .boxTransactionGatewayAPI,
  .boxBalanceAPI {
    width: 70%;
  }
}

@media screen and (max-width: 580px) {
  .containerTitleNavbar {
    gap: 12px;
  }

  .boxMenuNav {
    display: none;
  }

  .titleNavbar {
    display: none;
  }

  .iconDropDownHeader {
    display: block;
  }

  .boxTotalAPI,
  .boxSportPriceAPI,
  .boxSwapAPI,
  .boxHistoryAPI,
  .boxTransactionGatewayAPI,
  .boxBalanceAPI {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .containerFooter {
    padding: 35px 10px 20px;
  }

  .boxInfoContact {
    gap: 15px;
  }
}

@media screen and (max-width: 360px) {
  .boxTotalAPI,
  .boxSportPriceAPI,
  .boxSwapAPI,
  .boxHistoryAPI,
  .boxTransactionGatewayAPI,
  .boxBalanceAPI {
    padding: 12px;
  }
   .boxTitleItemInfo{
    gap: 8px;
   }
  }

/* footer */

.containerFooter {
  /* margin: 0 auto; */
  display: flex;
  padding: 70px 60px 40px 60px;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
  background: var(--white-color-bg-footer);
}

.contentFooterTop {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.boxTitleFooter {
  display: flex;
  gap: 2px;
  align-self: stretch;
}

.titleFooter {
  color: var(--black-color-text);
  text-align: center;
  font-family: "PPMondwest";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.containerTagFooter {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 75px;
  flex-wrap: wrap;
  /* align-self: stretch; */
}

.boxTag {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.titleBoxTag {
  color: var(--orange-color-bg);
  font-family: "SF Pro Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 25.362px;
  cursor: default;
}

.tag {
  color: var(--black-color-text);
  font-family: "SF Pro Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.3s linear;
}
.tag:hover {
  color: var(--orange-color-bg);
}

.contentFooterBot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  align-self: stretch;
}

.boxContact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.textBoxContact {
  color: var(--black-color-text);
  /* text-align: right; */
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.boxInfoContact {
  display: flex;
  align-items: center;
  gap: 35px;
}

.logoFooter {
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .containerFooter {
    padding: 35px 30px 20px 30px;
    gap: 40px;
  }

  .containerTagFooter {
    gap: 30px;
  }

  .titleBoxTag {
    font-size: 16px;
  }

  .tag {
    font-size: 14px;
  }

  .textBoxContact {
    font-size: 13px;
  }
}

@media screen and (max-width: 730px) {
  .contentFooterTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .boxTitleFooter {
    display: flex;
    gap: 2px;
  }
}

@media screen and (max-width: 550px) {
  .containerFooter {
    padding: 35px 10px 20px;
  }

  .boxInfoContact {
    gap: 15px;
  }
}
