.header-pool-container {
  padding: 32px 41px 0 41px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 25px;
}

.button-header {
  height: 52.264px;
  width: 115.829px;
  flex-shrink: 0;
  border-radius: 19.38px;
  background: var(--white-color-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black-color-text);
  text-align: center;
  font-size: 18.605px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none !important;
  box-shadow: 0px 5.426px 0px 0px var(--black-color-text);
  border: 1.55px solid var(--black-color-text);
  position: relative;
}

.button-header-active {
  background-color: var(--orange-color-bg);
  color: var(--white-color-bg);
}

.button-connect-wallet {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 211px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 19.38px;
  background: var(--purple-color-bg);
  box-shadow: 0px 5.426pvar (--black-color-text);
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-connect-wallet:hover {
  transition: all 0.3s ease;
  background: linear-gradient(
    180deg,
    var(--green-color-bg) 0%,
    var(--purple-color-bg) 100%
  );
}

.button-connected-wallet-text {
  color: var(--white-color-bg);
  text-align: center;
  font-family: "SF Pro Display";
  font-size: 18.605px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* content */

.containerContent {
  /* max-width: 569px; */
  max-width: 605px;
  width: 100%;
  margin: 90px auto 59px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.boxContent {
  position: relative;
  box-shadow: var(--black-color-shadow) 0px 2px 4px 0px;
  height: 101px;
  width: 569px;
  border-radius: 12px;
  padding: 18px 18px 20px;
}

.imgBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.boxText {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 15px;
  flex-direction: column;
}

.textTitle {
  font-size: 17px;
  font-weight: 600;
  z-index: 10;
  color: var(--black-color-text);
}

.textContent {
  font-size: 15px;
  font-weight: 500;
  color: var(--black-color-text);
  line-height: normal;
}

.textLink {
  font-size: 14px;
  font-weight: 600;
  color: var(--black-color-text);
  text-decoration: underline;
}

.containerContentLiquid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  width: 605px;
}

.containerBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 100%;
}

.textLiquid {
  color: var(--black-color-text);
  font-family: "SF Pro Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.boxBtn {
  display: flex;
  align-items: center;
  gap: 8px;
}

.btnCreate {
  display: flex;
  padding: 10px 18px;
  align-items: center;
  border-radius: 12px;
  background: var(--white-color-bg);
  box-shadow: 0px 2px 8px 0px var(--black-color-shadow);
  border: none;
  /* text */
  color: var(--orange-color-bg);
  font-family: "SF Pro Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.btnAdd {
  display: flex;
  padding: 10px 18px;
  align-items: center;
  border-radius: 12px;
  background: var(--orange-color-bg);
  border: none;
  box-shadow: 0px 2px 8px 0px var(--black-color-shadow);
  /* text */
  color: var(--white-color-bg);
  font-family: "SF Pro Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.boxManage {
  display: flex;
  padding: 12px 20px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 12px;
  background: var(--white-color-bg-opacity);
  box-shadow: 0px 2px 4px 0px var(--black-color-shadow);
}

.textAccount {
  color: var(--orange-color-bg);
  font-family: "SF Pro Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.textManage {
  color: var(--orange-color-bg);
  font-family: "SF Pro Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.containerBtnManage {
  display: flex;
  padding: 15px 20px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 12px;
  background: var(--white-color-bg);
  box-shadow: 0px 2px 4px 0px var(--black-color-shadow);
  gap: 25px;
}

.boxInfoTokens {
  display: flex;
  align-items: center;
  gap: 12px;
}

.boxLogo {
  display: flex;
  align-items: center;
  gap: -12px;
}

.tokensSymbol {
  color: var(--black-color-text);
  font-family: "SF Pro Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.boxBtnManage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.textBtnManage {
  color: var(--orange-color-bg);
  font-family: "SF Pro Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.containerInfoToken {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.containerBtnManageActive {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 12px;
  background: var(--white-color-bg);
  box-shadow: 0px 2px 4px 0px var(--black-color-shadow);
  gap: 25px;
}

.containerContentInfoToken {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.headerContainerManage {
  width: 565px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 12px;
}

.containerInformation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.lineInfo {
  display: flex;
  width: 565px;
  justify-content: space-between;
  align-items: center;
}

.titleInfo {
  color: var(--black-color-text);
  font-family: "SF Pro Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.numberInfo {
  color: var(--black-color-text);
  font-family: "SF Pro Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.boxNumberInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.boxBtnShare {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.boxButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.btn {
  display: flex;
  width: 180px;
  padding: 20px 18px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: var(--orange-color-bg);
  box-shadow: 0px 2px 8px 0px var(--black-color-shadow);
  border: none;
  cursor: pointer;
  /* text */
  color: var(--white-color-bg);
  font-family: "SF Pro Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.logoDino {
  position: fixed;
  left: 50px;
  bottom: 34px;
}
