@import './css/header.css';
@import './css/tokens.css';
@import './css/home.css';
@import './css/table.css';
@import './css/detailToken.css';
@import './css/swap.css';
@import './css/pool.css';
@import './css/modalListToken.css';
@import './css/modalPreviewPool.css';

.list-token-wallet::-webkit-scrollbar {
    display: none;
}

.button-wallet {
    height: 48px;
    display: flex;
    padding: 12px var(--100625-rem, 10px);
    color: var(white-text-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 12px;
}